/* --------- GENERAL --------- */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Indie+Flower&family=Manrope:wght@200;400;700&family=Oxygen:wght@300;400;700&family=Sora:wght@100;300;500;700&display=swap');

// font-family: 'Comfortaa', 300, 500, 700 cursive;
// font-family: 'Manrope', 200, 400, 700 sans-serif;
// font-family: 'Oxygen', 300, 400, 700 sans-serif;
// font-family: 'Sora', 100, 300, 500 sans-serif;

$lighter-blue: #cce8f4;
$light-blue: #84ceeb;
$middle-blue: #59b8eb;
$darker-blue: #5480e9;
$light-purple: #e4e7f6;
$middle-purple: #b292ef;
$darker-purple: #8860d0;
$btn-close: #f15d5d;

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;

  & a {
    text-decoration: none;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  position: relative;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

.bi:hover {
  cursor: pointer;
}

/* --------- HEADER --------- */

#header {
  height: 10rem;
  background-color: $light-purple;
  border-bottom: 3px solid $light-blue;
  padding: 1rem 5rem;
  position: relative;
  z-index: 2;

  nav {
    @include flexBetween();
    font-size: 3.3rem;
    font-family: 'Comfortaa', sans-serif;

    #site-title {
      @include flexCenter();
      font-family: 'Indie Flower', sans-serif;
      font-size: 5rem;
      font-weight: 700;
      color: $darker-purple;
      text-shadow: 3px 3px 1px $light-blue;

      &:active {
        animation: 0.5s ease shake;
      }

      img {
        margin-left: 1rem;
        transform: rotate(-33deg);
        height: 7rem;
      }
    }

    a {
      color: $darker-blue;
    }

    .active {
      text-decoration: underline;
      text-decoration-color: $light-blue;
      text-decoration-thickness: 3px;
    }

    #links {
      @include flexCenter();
      gap: 10rem;

      .home,
      .shop {
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }

      #cart__nav {
        position: relative;
      }

      .bi-cart2 {
        color: white;
        background-color: $darker-purple;
        padding: 1.5rem;
        border-radius: 50%;
        position: relative;
        transition: all 0.3s ease;

        &:hover {
          background-color: $darker-blue;
        }
      }
    }

    .buble::after {
      font-family: Verdana, sans-serif;
      position: absolute;
      bottom: 0;
      left: -5px;
      border-radius: 50%;
      content: '2';
      @include flexCenter();
      height: 20px;
      width: 20px;
      padding: 0.25rem;
      background-color: $middle-blue;
      font-size: 15px;
      font-weight: 500;
      color: white;
    }
  }
}

/* --------- DROPDOWN --------- */

#cart__dropdown {
  @include flexColumn();
  font-family: 'Comfortaa', sans-serif;
  height: 30rem;
  width: 28rem;
  position: absolute;
  border-left: 3px solid $middle-blue;
  border-right: 3px solid $middle-blue;
  border-bottom: 3px solid $middle-blue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  top: 10rem;
  right: 2rem;
  z-index: 1;

  ul {
    @include flexColumn();
    gap: 0;
    overflow: scroll;
  }

  li {
    @include flexBetween();
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    background-color: white;

    img {
      height: 50px;
      width: 50px;
    }

    .column-wrapper {
      @include flexColumn();
      text-align: center;
      gap: 0.5rem;

      .minus,
      .plus {
        color: $darker-purple;

        &:active {
          color: $middle-blue;
        }
      }

      p {
        font-size: 1.25rem;
      }

      h3 {
        letter-spacing: 0.1rem;
        font-size: 1.75rem;
        font-weight: bold;
      }
    }
  }

  #cart__dropdown-btns {
    margin-top: auto;
    height: 9rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Sora';
    font-weight: 300;
    background-color: #e4e7f6;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    p {
      margin-top: 0.5rem;
    }

    span {
      font-weight: 500;
    }

    .row-wrapper {
      display: flex;
      justify-content: space-around;

      button {
        text-transform: uppercase;
        margin-top: 1rem;
        width: 45%;
        height: 3.5rem;
        border: none;
        border-radius: 5px;
        color: white;

        &:hover {
          cursor: pointer;
        }
      }

      #checkout {
        @include flexCenter();
        width: 100%;
        padding: 0 2rem;
        background-color: $darker-blue;
        &:hover {
          background-color: $middle-blue;
        }
      }

      #close {
        background-color: $btn-close;
        &:hover {
          background-color: #fd8282;
        }
      }
    }
  }
}

#arrow {
  &::before {
    content: '';
    width: 0;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    border-bottom: 17px solid $middle-blue;
    position: absolute;
    top: 8rem;
    right: 6.5rem;
    z-index: 3;
  }
}

/* --------- HOME --------- */

#home {
  height: calc(100vh - 10rem);
  font-family: 'Comfortaa', sans-serif;
  font-size: 2rem;
  display: flex;
  color: $darker-purple;
  gap: 1rem;
  align-items: center;
  padding-top: 10rem;
  position: relative;

  video {
    top: 2rem;
    position: absolute;
    animation: 0.7s ease fade-in;
  }

  h2,
  h1 {
    z-index: 2;
    left: 10rem;
  }

  h1 {
    position: absolute;
    top: 5rem;
  }
  h2 {
    position: absolute;
    bottom: 5rem;
    animation: 1s infinite ease clignote;
  }

  p,
  button {
    position: absolute;
  }

  p {
    bottom: 5%;
    right: 5%;
    font-size: 1rem;
  }

  button {
    font-family: 'Comfortaa', sans-serif;
    bottom: 10%;
    right: 5%;
    padding: 2.5rem 3.3rem;
    text-transform: uppercase;
    background-color: $darker-blue;
    color: white;
    font-size: 2.2rem;
    border: none;
    border-radius: 50px;

    &:hover {
      cursor: pointer;
      background-color: $middle-blue;

      &:active {
        transform: translate(2px, 3px);
      }
    }
  }
}
/* --------- SHOP --------- */

#shop {
  height: calc(100vh - 10rem);
  display: flex;

  #sidebar {
    padding: 7rem 3.3rem;
    @include flexColumn();
    gap: 3.3rem;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2rem;
    height: 100%;
    width: 20%;
    color: white;
    background-color: $middle-purple;
    border-right: 3px solid $light-blue;

    h1 {
      font-family: 'Sora', sans-serif;
      margin-bottom: 2rem;
      letter-spacing: 0.25rem;
      font-size: 2.5rem;
      font-weight: 500;
      color: $light-blue;
      border-bottom: 3px solid $light-blue;
    }

    .row-wrapper {
      display: flex;
      gap: 3rem;
      position: relative;
    }

    label {
      display: block;
      margin-bottom: 1rem;
    }

    input {
      position: absolute;
      top: 5px;
      left: 10rem;

      &:hover {
        cursor: pointer;
      }
    }

    #price {
      position: static;

      &:hover {
        cursor: pointer;
      }
    }

    p {
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  #list-items {
    padding: 2rem 0 0 15rem;
    width: 100%;
    background-color: white;
    position: relative;

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 5rem;
      row-gap: 3rem;
    }

    .card {
      font-family: 'Comfortaa', sans-serif;
      background-color: white;
      font-size: 1.5rem;
      height: 280px;
      width: 250px;
      padding-bottom: 1rem;
      border-radius: 7px;
      border: 2px solid $lighter-blue;
      transition: all 0.5s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      img {
        height: 210px;
        width: 100%;
        border-bottom: 1.75px solid $light-purple;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }

      .row-wrapper {
        @include flexColumn();
      }
      p,
      h3 {
        padding-left: 1rem;
      }

      h3 {
        margin-left: auto;
        padding-right: 1rem;
        letter-spacing: 0.15rem;
      }

      p {
        padding-top: 1rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
      }
    }
  }

  #buttons {
    @include flexBetween();
    width: 90%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.75rem;
    position: absolute;
    bottom: 1rem;
    left: 5rem;

    h3 {
      position: absolute;
      left: 50%;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $darker-purple;
    }

    #next-page,
    #previous-page {
      border-radius: 50%;
      cursor: pointer;

      .row-wrapper {
        @include flexCenter();
        gap: 1rem;
        background: $middle-purple;
        padding: 0.5rem 1.1rem 0.25rem 1.1rem;
        border-radius: 20px;

        &:hover {
          background-color: $lighter-blue;
        }

        p {
          color: white;
        }

        .bi {
          color: white;
        }
      }
    }

    #previous-page .row-wrapper {
      &:hover {
        p,
        .bi {
          color: black;
        }
      }

      &:active {
        transform: translate(-1px, 1px);
      }
    }

    #next-page .row-wrapper {
      &:hover {
        p,
        .bi {
          color: black;
        }
      }

      &:active {
        transform: translate(1px, 1px);
      }
    }
  }

  #overlay {
    @include flexCenter();
    position: absolute;
    height: calc(100vh - 10rem);
    width: 100vw;
    background-color: #47474761;

    .bi-x-lg {
      position: absolute;
      top: 2rem;
      right: 3rem;
      font-size: 3.3rem;
      z-index: 100;

      &:hover {
        color: white;
      }
    }

    #chosen-shoe {
      display: flex;
      height: 80%;
      width: 60%;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.912);
      border: 2px solid $middle-purple;

      .image-display {
        display: flex;
        overflow: visible;
        width: 70%;
        border-right: 2px solid $middle-blue;
        font-size: 5rem;
        position: relative;
        overflow: hidden;
        z-index: 3;

        img {
          position: absolute;
          width: 100%;
          height: 93%;
          bottom: 2.75%;
          transition: transform 0.5s ease;
          z-index: 1;
        }

        .bi {
          color: $middle-blue;

          &:hover {
            color: $middle-purple;
          }
        }

        .arrow {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;

          &:hover {
            cursor: pointer;
            font-weight: bold;
          }

          &:active {
            color: $darker-purple;
          }
        }

        .left {
          left: 1rem;
        }

        .right {
          right: 1rem;
        }
      }

      .infos-display {
        font-family: 'Comfortaa', sans-serif;
        @include flexColumn();
        align-items: center;
        gap: 6.5rem;
        width: 30%;
        font-size: 2rem;
        padding: 5rem 0.5rem 2rem 0.5rem;

        h1 {
          font-size: 2rem;
          font-weight: 500;
          text-transform: uppercase;
        }

        h2 {
          text-align: center;
          font-size: 3rem;
          font-weight: 500;
        }

        h3 {
          font-weight: 500;
          font-family: 'Sora', sans-serif;
          font-size: 3.3rem;
        }

        p {
          font-size: 1.5rem;
          text-transform: uppercase;
        }

        .row-wrapper {
          @include flexCenter();
          gap: 1rem;
        }

        #add-to-cart {
          @include flexColumn();
          align-items: center;
          margin-top: auto;
          gap: 2rem;

          .bi {
            color: $middle-purple;

            &:hover {
              color: $middle-blue;
            }
          }
          button {
            background-color: $middle-blue;
            color: white;
            border: none;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 1rem 2rem;

            &:hover {
              cursor: pointer;
              background-color: $middle-purple;
            }

            &:disabled {
              background-color: $lighter-blue;
            }
          }
        }
      }
    }
  }
}

/* --------- CHECKOUT --------- */

#checkout {
  height: calc(100vh - 10rem);
  display: flex;
  font-family: 'Comfortaa', sans-serif;

  .message {
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .items-list {
    @include flexColumn();
    background-color: rgb(249, 249, 249);
    width: 70%;
    border-right: 1px solid rgb(65, 65, 65);
    padding: 5rem 7rem 3rem 7rem;
    overflow: scroll;

    li {
      @include flexBetween();
      margin-bottom: 2rem;
      font-weight: 500;
      font-size: 1.5rem;
      background-color: white;
      border: 1px solid black;
      padding: 1rem;
      border-radius: 10px;
      position: relative;

      img {
        height: 100px;
        width: 100px;
      }

      h1 {
        letter-spacing: 0.2rem;
        margin-right: 15rem;
      }

      .row-wrapper {
        @include flexCenter();
        font-size: 2rem;
        gap: 1.5rem;
        position: absolute;
        right: 1rem;
      }

      .bi {
        font-size: 2.5rem;
        color: $darker-blue;

        &:hover {
          color: $darker-purple;
        }
      }

      .bi-x-circle {
        font-size: 3.3rem;
        color: $btn-close;
        position: absolute;
        right: -5rem;

        &:hover {
          color: #fd8282;
        }
      }
    }
  }

  #total-checkout {
    @include flexColumn();
    align-items: center;
    gap: 10rem;
    background-color: #e0f3fb;
    padding: 15rem 0 2rem 0;
    width: 30%;
    color: rgb(65, 65, 65);

    h2 {
      font-size: 4rem;
    }

    h1 {
      color: black;
      font-size: 5rem;
      letter-spacing: 0.33rem;
    }

    .column-wrapper {
      @include flexCenter();
      width: 90%;
      gap: 1rem;
      margin-top: auto;

      button {
        height: 8rem;
        width: 17.5rem;
        text-transform: uppercase;
        font-size: 2rem;
        border: none;
        border-radius: 5px;
        color: white;

        &:hover {
          cursor: pointer;
        }
      }

      #checkout-close {
        background-color: $btn-close;

        &:hover {
          background-color: #fd8282;
          color: black;
        }
      }

      #checkout-payment {
        background-color: $light-blue;

        &:hover {
          background-color: #a6d9ee;
          color: $darker-purple;
        }
      }
    }
  }
}

/* --------- ANIMATIONS --------- */

@keyframes clignote {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

@keyframes shake {
  0% {
    transform: skewY(3deg);
  }
  25% {
    transform: skewY(-3deg);
  }
  50% {
    transform: skewY(2deg);
  }
  75% {
    transform: skewY(-2deg);
  }
  100% {
    transform: skewY(0deg);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}
